* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23242a;
    min-height: 100vh;
}

.box {
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box h1:hover {
    transition-delay: .5s;
    cursor: pointer;
    color: #000;
    text-shadow: 0 0 10px #0f0,
        0 0 20px #0f0,
        0 0 40px #0f0,
        0 0 80px #0f0,
        0 0 160px #0f0;
}

.box h1 {
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25em;
    color: #fff;

}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #FF0000, #FF0000, #FF0000);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.border {
    position: absolute;
    top: 0;
    inset: 0;
}

.border::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #FFFF00, #FFFF00, #FFFF00);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;

}

.border::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;

}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}